/* Override some defaults */
html, body {
  background-color: #eee;
}

body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}

p {
  font: 14px/1.75em georgia, serif;
  margin: 1em 0;
}

h3 {
    color:  #777;
    background-color: #F2F8F7;
    margin:  20px -20px;
    font-size:  20px;
    padding:  0px 20px;
    line-height:  35px;
}

.navbar {
  margin-bottom: 0;
}
.container > footer {
  margin-top: 20px;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}
.page-tag {
  margin: 2px 20px 2px 0px;
}
.page-category {
  margin: 2px 20px 2px 0px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box.nowrap li {
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #999999;
	color:#fff;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background: #F87B00;
	border:1px solid #4C964D;
	color:#FFF;
}
.tag_box a:hover {
	color: #fff;
    background-color: #F87B00;
}
.wrapper  {
    background-color:  #fff;
    margin:  10px 0px 50px 0px;
    padding:  10px 20px;
    moz-border-radius:  5px;
    webkit-moz-border-radius:  5px;
     border-radius:  5px;
    -webkit-box-shadow:  0px 1px 3px #A8ABAB;
    -moz-box-shadow:  0px 1px 3px #A8ABAB;
    box-shadow:  0px 1px 3px #A8ABAB;
}

a {
    color: #9278B5;
    text-decoration: none;
}
a:hover {
    color: #4E3D81;
    text-decoration: none;
}
a.label:hover {
    color: #fff;
    background-color: #F87B00;
}
p a {
    border-bottom: 1px dashed #CED1D1;
}

/*
img {
    max-width: 640px;
    height: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
*/
.wrapper p img {
    clear: both;
    display: block;
    margin-left: -20px;
    margin-right: -20px;
}

.backToTop {
    display: none;
    width: 18px;
    line-height: 1.2;
    padding: 5px 0;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: fixed;
    _position: absolute;
    right: 10px;
    bottom: 100px;
    _bottom: "auto";
    cursor: pointer;
    opacity: .6;
    filter: Alpha(opacity=60);
}